body{
    margin: 0;
    padding: 0;
    background-color: #f5f3f2;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
li {
    font-family: serif;
    margin: 5px;
    padding: 5px;
    border: 1.3px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 1.2vw;
    
}
li span{
    font-weight: bold;
    font-size: 1.35vw;
    color: #2F90BA;
    font-family: serif;
}

/* #region中间部分 */
/* 刷新按钮 */
.button{
    position: absolute;
    left: 64%;
    top: 4%;
}
#editBtn{
    height: 30px;
    width: 30px;
}
#editBtn:hover{
    scale:1.2;
}

/* 搜索框 */
.search-box{
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%,-50%);
    background-color: #5698c3;
    height: 30px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 40px;
}
.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font: 15px sans-serif;
    line-height: 30px;
    width: 0;
}
.search-txt::placeholder{
    color: #ffffff67;
}
.search-btn{
    color: #fff;
    float: right;
    width: 3cap;
    height: 30px;
    border-radius: 50%;
    background-color: #5698c3;
    /* 弹性布局 水平垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-box .search-txt{
    width: 80%;
    padding: 0 1%;
}
.search-box .search-btn{
    background-color: #5698c3;
}

/* 搜索框返回 */
.show-box{
    margin: 0 auto;
    /* background-color: pink; */
    max-width: 33%;
    padding: 56px;
}
/* #endregion中间部分 */

/* #region左边统计部分 */
/* 左侧统计栏目 */
.count{
    margin: 0 auto;
    /* background-color: pink; */
    position: absolute;
    left: 3%;
    top:8%;
    width: 28%;
    font-family: serif;
    font-size: 1.5vw;
    text-align: center;
}
.count span{
    font-size: 2vw;
    font-family: 'serif';
    color: #ecbc41;
    font-weight: bold;
}
#special{
    font-size: 1.8vw;
    color: #2966cf;
    font-weight: bold;
}

/* 词云图 */
#cloudtitle{
    margin: 0 auto;
    margin-top: 35px;
}

#cloudtitle span{
    font-size: 1.5vw;
    margin-bottom: 3px;
    font-weight: bold;
    color: #ecbc41;
}

.wordcount{
    width: 100%;
    margin-top: -20px;
}
#line, #line2{
    width: 100%;
    height: 300px;
    top: -45px;
}
#LINE2{
    margin-top: -40px;
}
#totalcount{
    width: 100%;
    margin-top: 40px;
}
.wordcount2{
    width: 100%;
    /* height: 280px; */
    margin-top: -40px;
}

#image{
    margin: 0 auto;
}
/* 易混词 */
.flashcard-container {
    width: 70%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #dbedfb, #f6f9e4);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: transform 0.5s ease;
}
.flashcard {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
}
.flashcard h3 {
    margin: 0;
    margin-top: 1.3vw;
    font-size: 1.3vw;
    color: #5698c3;
}
.flashcard p {
    font-size: 1.2vw;
    margin: 1.2px 0;
}
.flashcard span{
    font-size: 1.2vw;
    color: #ecbc41;
    font-weight: bold;
}

/* TED打卡号部分 */
.mainbox {
    width: 80%;
    margin: 0 auto;
}

#categorycontainer select {
    font-family: 'serif';
    margin: 0 auto;
    width: 92%;
    padding: 3px;
    text-align: center;
    font-size: 1.1vw;
    background-color: azure;
    border: 3px solid #1e80b8bb;
    border-radius: 8px; 
}

#categorycontainer ul {
    font-family: 'serif';
    width: 100%;
    font-size: 1vw;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    text-align: left;
    max-height: 250px;
    overflow-y: auto;
}
#categorycontainer li {
    font-family: 'serif';
    font-size: 1vw;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#categorycontainer .tedtext{
    font-family: 'serif';
    font-size: 1vw;
    font-weight: normal;
    color: #333;
}

#categorycontainer .tednum{
    font-family: 'serif';
    font-size: 1vw;
    color: #2966cf;
}
/* #endregion左边统计部分 */

/* #region右边列表部分 */
.right{
    position: absolute;
    left: 71%;
    top: 5%;
    width: 26%;
    /* height: 530px; */
    font-family: serif;
    font-size: 1.6vw;
    text-align: center;
    margin-left: 1%;
    /* background-color: pink; */
}

/* 三个小按钮 */
.shared-box{
    margin-top: 20px;
}
.shared-box button{
    font-size: 1vw;
    padding: 10px;
    margin-top: 2px;
    text-align: center;
    border-radius: 4px;
    border: none;
    font-family: serif;
    font-weight: bold;
    background: linear-gradient(to right, rgba(135, 207, 235, 0.598), rgba(225, 238, 162, 0.594));
}

/* 按钮结果返回 */
#itemList,#flag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover; 
    border-radius: 10px;
}

#itemList 
{
    min-height: 100px;
    background: linear-gradient(to bottom, #dbedfb, #f6f9e4);
}
#itemList li{
    font-family: serif;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    border: none;
    /* border-radius: 10px; */
    background-color: rgba(255, 0, 0, 0);
    font-size: 1.3vw;
    color: #1e3b7a;
}

/* 抽查部分 */
#flag {
    position: relative;
    width: 80%;
    aspect-ratio: 3/4;
    margin: 0 auto;
    background-image: url(./images/抽查.jpg);
    display: none;
}

#message {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 70%;
    text-align: center;
    font-size: 1.5vw;
    /* background-color: #1e3b7a; */
}
#message span{
    font-size: 2.0vw;
    font-family: 'serif';
    color: #ecbc41;
    font-weight: bold;
}
#chongxuan{
    position: absolute;
    top: 72%;
    left: 21%;
    font-size: 1vw;
    text-align: center;
    border-radius: 50%;
    border: none;
    font-family: serif;
    font-weight: bold;
    background: linear-gradient(to right, #fdd2ae, #def9dc);
}
/* #endregion右边列表部分 */

/* 页面适配 */
@media (max-width: 600px) {
    .wordcount,.search-btn,#editBtn,.fa fa-search{
        display: none;
    }
    #totalcount{
        width: 100%;
        margin-top: 20px;
    }
    #message{
        scale: 0.8;
        margin:0 auto;
    }
    #chongxuan{
        top: 100%;
        border-radius: 20%;
    }
}
